@model CollectibleCardsTradingShopProject.ViewModels.CreateLotViewModel

@{
    ViewData["Title"] = "Создание лота";
}

<h2>Создание лота</h2>

<form asp-action="Create">
    <div class="form-group">
        <label for="Cards">Выберите карты:</label>
        <select asp-for="SelectedCards" asp-items="Model.Cards" class="form-control" multiple="multiple"></select>
    </div>
    <div class="form-group">
        <label for="CardStatuses">Выберите статус для каждой карты:</label>
        <select asp-for="SelectedStatuses" asp-items="Model.Statuses" class="form-control">
            <option value="Предлагаю">Предлагаю</option>
            <option value="Желаю">Желаю</option>
            <option value="Требую">Требую</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Создать лот</button>
</form>
